@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    .container {
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 80px;
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left: 20px;
        padding-right: 20px;
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
    }

    /* Responsive styles */
    @media (min-width: 768px) {
        .container {
            padding-left: 40px;
            padding-right: 40px;
        }
    }

    @media (min-width: 1024px) {
        .container {
            padding-left: 80px;
            padding-right: 80px;
        }
    }
}